<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Profile">
    <meta name="keywords" content="JavaScript, Bootstrap, Profile, Vue.js">
    <meta name="author" content="Mrityunjay">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Mrityunjay Mukherjee</title>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-database.js"></script>
</head>

<body>
    <div id="loader">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">Firing up engines!!!</p>
        </div>
    </div>
    <div id="profile" style="display: none;">
        <div class="row">
            <div class="col-12">
                <div class="card w-100 bg-info text-white">
                    <div class="card-body">
                        <h5 class="card-title">{{ name }}</h5>
                        <h6 class="card-subtitle mb-2"> {{ currentTitle }}</h6>
                        <p class="card-text">Email: <a style="color:#3a1489" v-bind:href="'mailto:'+email"> {{ email }}
                            </a> |
                            Mobile: {{ mobile }} | LinkedIn:
                            <a target="_BLANK" style="color:#3a1489" v-bind:href="linkedIn"> {{ linkedIn }} </a>|
                            Current Location: {{ location }} </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-sm-9">
                <div id="summary" class="card">
                    <div class="card-header">
                        Summary
                    </div>
                    <ul>
                        <li v-for="each in summary">
                            {{ each }}
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-header">
                        Major Projects
                    </div>
                    <div class="list-group">
                        <div v-for="each in majorProjects"
                            class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ each.name }}</h5>
                                <small class="text-muted">{{  each.startDate }} - {{  each.endDate }}</small>
                            </div>
                            <p class="mb-1">{{ each.company }} </p>
                            <p class="m-0 p-0 text-muted">{{ each.Role }} </p>
                            <br>
                            <h6 class="mb-1">Responsibilities:</h6>
                            <p class="mb-1">
                            <ul>
                                <li v-for="responsibility in each.responsibilities">
                                    {{ responsibility }}
                                </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header">
                        Education
                    </div>
                    <div class="list-group">
                        <div v-for="each in education"
                            class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ each.degree }}</h5>
                                <small class="text-muted">{{  each.startYear }} - {{  each.endYear }}</small>
                            </div>
                            <p class="mb-1">{{ each.school }} </p>
                            <p class="m-0 p-0 text-muted">{{ each.location }} </p>
                        </div>
                    </div>
                </div>
                <div id="skills" class="card">
                    <div class="card-header">
                        Skills
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span class="badge badge-pill badge-info" v-for="skill in skills"> {{ skill }}</span>
                        </p>
                    </div>
                </div>
                <div id="highlights" class="card">
                    <div class="card-header">
                        Highlights
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <ul>
                            <li v-for="highlight in highlights">
                                {{ highlight }}
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Work Experience
                    </div>
                    <div class="list-group">
                        <div v-for="each in workExperience"
                            class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ each.title }}</h5>
                            </div>
                            <p class="mb-1">{{ each.company }} </p>
                            <p class="m-0 p-0 text-muted">{{  each.startDate }} - {{  each.endDate }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- production version, optimized for size and speed -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script>
            window.addEventListener('offline', function () {
                alert('You seem to have gone offline, please check your network and try again.')
            });
            //  jquery ready
            $(function () {
                // Firebase configuration
                var firebaseConfig = {
                    apiKey: "AIzaSyBxs_aEOZZE9iB5K0U_k_XXx2-UwV_9HVI",
                    authDomain: "mrityunjay-mukherjee-github-io.firebaseapp.com",
                    databaseURL: "https://mrityunjay-mukherjee-github-io.firebaseio.com",
                    projectId: "mrityunjay-mukherjee-github-io",
                    storageBucket: "mrityunjay-mukherjee-github-io.appspot.com",
                    messagingSenderId: "518901552869",
                    appId: "1:518901552869:web:3f0fffa6966434e992e60c",
                    measurementId: "G-BC9M7RSJ7P"
                };
                // Initialize Firebase
                firebase.initializeApp(firebaseConfig);
                var analytics = firebase.analytics();
                firebase.database().ref('profile').once('value').then(function (data) {
                    var _data = data.val()[0].data
                    var app = new Vue({
                        el: '#profile',
                        data: _data,
                    })

                    $("#loader").hide()
                    $("#profile").show()
                    analytics.logEvent('data_loaded', app)
                }).catch(function (error) {
                    analytics.logEvent('error', error)
                    $("#loader").show()
                });
            });
        </script>
    </div>
</body>

</html>